* {margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    
}
body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 35px rgba(0,0,0,0.1);
    margin: 50px;
}
.container .left-side{
    position: relative;
    background: #003147;
    padding: 40px;
}
.prodileText{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.prodileText .avatar{
    position: relative;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
}
.prodileText .avatar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.prodileText h2{
    color: #fff;
    font-size: 1.3em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.prodileText h2 span{
    font-size: 0.8em;
    font-size: 300;
}
.contactinfor{
    padding-top: 40px;
}
.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}
.contactinfor ul{
    position: relative;
}
.contactinfor ul li{
    list-style: none;
    position: relative;
    margin: 30px 0;
    cursor: pointer;
    font-size: 15px;
    
}
.contactinfor ul li .icon{
    display: inline-block;
    width: 40px;
    font-size: 18px;
    color: #03a9f4;
    
}
.contactinfor ul li span{
    color: #fff;
    font-weight: 300;
}
.contactinfor.education li{
    margin-bottom: 15px;
}
.contactinfor.education h4{
    color: #03a9f4;
    font-weight: 500;
}
.contactinfor.education h5{
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 20px;

}
.title2{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p{
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;

}

.skills .box{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    margin: 10px;
    color:#848c99;
    font-weight: 500;
}

.skills .box .percent{
    position: relative;
    width: 100%;
    height: 10px;
    background: #f0f0f0f0;
}
.skills .box .percent div{ 
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background-color: #03a9f4;
}

.interest .avatar2 img {
    width: 870px;
    height: 100%;
    object-fit: contain;
    

}

.container .right-side{
    position: relative;
    background: #fff;
    padding: 40px;}
